<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.elekapp">

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.ElekApp"
            tools:targetApi="31">
        <activity
                android:name=".Materialy"
                android:exported="false"/>
        <activity
                android:name=".TrasyKablowe"
                android:exported="false"/>
        <activity
                android:name=".Korytka"
                android:exported="false"/>
        <activity
                android:name=".ElektroNarzedzia.ZacieraczkaDoBet.ZacDoBet"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Wyrzynarka.Wyrzynarka"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.WiertarkoWkretarka.WkreWier"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.WiertarkaStolowa.WierStolowa"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Wiertarka.Wiertara"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Szlifierki.Szlifiera"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Suwmiarka.Suwmiara"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Strugarka.Strugara"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Praska.Praska"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.PilaTarczowya.PilaTarczowa"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Odkurzacze.Odkur"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Spawarka.Spawa"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Agregat.Agrega"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Nasadki.Nasady"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.MlotUdar.Udarowy"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.AnalizatorMocy"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.MiernikNatężeniaPolaElektromagnetycznego"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.MiernikIzolacji"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.MiernikHZ"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.Multimetr"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.Watomierz"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.Ohmmetr"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.Voltomierz"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Mierniki.Amperomierz"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.MlotoWiertarka.MlotoWiertarka"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.MiaraOdleg.Metrowka"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.KluczUda.KluczUdarowy"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.GilotynaMetal.GilotynaMetal"
                android:exported="false"
                android:label="@string/title_activity_gilotyna_metal"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Frezarka.Frezarka"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Dynanometr.Dynanoo"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Dremel.Dremel"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Dalmierze.DUltradz"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Dalmierze.DLaserowy"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".ElektroNarzedzia.Bruzdownica.Bruzd"
                android:exported="false"
                android:label="@string/title_activity_bruzd"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.OchrPrze.OchronaPrze"
                android:exported="false"
                android:label="@string/title_activity_oswietlenie"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.Reaktacja.Reaktacja"
                android:exported="false"
                android:label="@string/title_activity_oswietlenie"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.KalkulatorCzasuPracy.KaCzaspr"
                android:exported="false"
                android:label="@string/title_activity_oswietlenie"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.Oswietlenie.Oswietlenie"
                android:exported="false"
                android:label="@string/title_activity_oswietlenie"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.Konwersja.Konwersja"
                android:exported="false"
                android:label="@string/title_activity_konwersja"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.DoborPrze.DoborPrzekroju"
                android:exported="false"
                android:label="@string/title_activity_doborprzekroju"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.Miedz.Miedz"
                android:exported="false"
                android:label="@string/title_activity_miedz"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.PrawoOhma.PrawoOhmaActivity"
                android:exported="false"
                android:label="@string/title_activity_prawo_ohma"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.MocE.Moc"
                android:exported="false"
                android:label="@string/title_activity_moc"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".Calc.SpadkiNapeicia.SpadkiU"
                android:exported="false"
                android:label="@string/title_activity_spadkiu"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.ElekApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Calc.Kalkulator"
                android:label="@string/title_activity_kalkulator"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
        <activity
                android:name="com.example.elekapp.ElektroNarzedzia.ElektNarzedzia"
                android:label="@string/title_activity_elekt_narzedzia"
                android:theme="@style/Theme.ElekApp.NoActionBar"/>
    </application>

</manifest>